.station{
  float:left;
  width:50%;
}
.timelimit,
.timelimit2{
  float:left;
  width:30%;
}
.distance{
  float:left;
  width:20%;
}
li#listHeader{
  background:;
}

#choice {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.77);
  display: none;
}

#choice h2 {
  font-weight: bold;
  text-align: center;
  padding: 1em;
}

#choice .inner {
  background: #fafafa;
  width: 90%;
  margin: 0 auto;
  margin-top: 43%;
  border-radius: 5px;
}

#choice ul {
  list-style: none;
  padding: 1em;
}

#choice li {
  font-weight: bold;
  background: #dadada;
  padding: 0.8em;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 1em;
}
#choice li:last-child {
  margin-bottom: 0;
}
